a {
  color: #f5f5f5;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
li {
  display: inline-block;
}
#logobox {
  display: inline-block;
  margin-left: 8%;
}
nav {
  float: right;
  margin-right: 8%;
  background: #000;
  font-family: 'Lato', sans-serif;
}
.menu {
  display: inline-block;
  height: 7em;
}
#logo {
  height: 5em;
  padding: 1em 0 1em 0;
}
header {
  background: #000;
}
body {
  margin: 0;
}
.grid-container {
  color: #f5f5f5;
  background: #1d1d1b;
  display: grid;
  grid-template-columns: repeat(auto, 3);
  grid-template-rows: repeat(auto, 7);
  grid-template-areas: "S1 S1 S1" "S2 S2 S2" "S3 S3 S3" "S4 S4 S4" "S5 S5 S5" "S6 S6 S6" "footer footer footer";
}
.S1 {
  grid-area: S1;
  margin: 0 8% 0 8%;
}
.S2 {
  grid-area: S2;
  margin: 0 8% 0 8%;
}
.S3 {
  grid-area: S3;
  margin: 0 8% 0 8%;
}
.S4 {
  grid-area: S4;
  margin: 0 8% 0 8%;
}
.S5 {
  grid-area: S5;
  margin: 0 8% 0 8%;
}
.S6 {
  grid-area: S6;
  margin: 0 8% 0 8%;
}
footer {
  grid-area: footer;
  margin: 0 8% 0 8%;
}
