body {
  margin: 0 15% 0 15%;
  color: #f5f5f5;
  font-family: "Lato:400", sans-serif;
  background: #1d1d1b;
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-columns: 12% auto;
}
p {
  margin: 0;
  font-family: "Lato:400", sans-serif;
  color: #f5f5f5;
}
h1 {
  margin: 0;
  font-family: "Montserrat:700", sans-serif;
  color: #f5f5f5;
}
a {
  color: #f5f5f5;
  text-decoration: none;
}
li {
  list-style: none;
}
#logobox {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}
#logo {
  width: 150%;
}
