// COLORS
@bgcolor: #1d1d1b;
@txtcolor: #f5f5f5;
@highlight: #E53935;
@black: #111;
// FONTS
@header-font: 'Montserrat', sans-serif;
@text-font: 'Lato', sans-serif;


//MISCELLANEOUS
h1, h2 {
	font-family: @header-font;
	text-align: center;
}

p {
	font-family: @text-font;
	line-height: 1.5;
	text-align: justify;
}

body {
	margin: 0;
}

a {
	color: @txtcolor;
	text-decoration: none;
}

li a:hover {
	color: @highlight;
}

li {
	font-size: 1.25em;
	margin-left: 2em;
	display: inline-block;
}

#logobox {
	margin-left: 20em;
}

nav {
	margin-right: 20em;
	font-family: @text-font;

}

.menu {
	display: grid;
	place-items: center end;
}

#logo {
	height: 5em;
	padding: 1em 0 1em 0;
}

header {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	background: @black;
}

//MAIN SECTION

.grid-container {
	color: @txtcolor;
	background: @bgcolor;
	display: grid;
	grid-template-columns: repeat(auto, 3);
	grid-template-rows: repeat(auto, 7);
	grid-template-areas:
		"S1 S1 S1"
		"S2 S2 S2"
		"S3 S3 S3"
		"S4 S4 S4"
		"S4a S4a S4a"
		"S5 S5 S5"
		"S6 S6 S6"
}

.S1 {
	grid-area: S1;
	margin: 3em 20em 3em 20em;
	display: grid;
	place-items: center center;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image_S1 text_S1"
	"image_S1 text_S1"
}

#btn_kup_teraz {
	padding: 1em 6em;
	background: @highlight;
	text-align: center;
	text-transform: uppercase;
	font-family: @header-font;
	font-size: 1em;
	font-weight: 700;
	z-index: 10;
	cursor: pointer;
	border: none;
}

#btn_kup_teraz:hover {
	opacity: .8;
}

#btn_container {
	margin-top: 3em;
	display: grid;
	justify-items: center;
}

#image_S1 {
	grid-area: image_S1;
	place-items: center center;
}

#text_S1 {
	grid-area: text_S1;
	margin-left: 3em;
}


.S2 {
	grid-area: S2;
	margin: 0 0 0 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
	background: #111 url('../images/piesek_petvita_background.png') no-repeat center center;
	grid-template-areas: 
		"h1_S2 h1_S2 h1_S2"
		"p_S2 p_S2 p_S2"
		"image_S2 h2_S2 h2_S2"
		"image_S2 ikony_S2 ikony_S2"
}

#image_S2 {
	margin-top: 6em;
	grid-area: image_S2;
}

#h1_S2 {
	margin: 2em 0 2em 0;
	grid-area: h1_S2;
}

#h2_S2 {
	grid-area: h2_S2;
	margin: 2em 14em 0 0;
}

#p_S2 {
	grid-area: p_S2;
	margin: 0 20em 0 20em;
}

#ikony_S2 {
	display: grid;
	margin: 0 20em 0 0;
	grid-area: ikony_S2;
	place-items: start center;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.ikona_S2 {
	display: grid;
	justify-items: center;
	max-width: 12em;
	padding-bottom: 4em;
}

.ikona_S2 p {
	text-align: center;
}

.S3 {
	grid-area: S3;
	margin: 0 0 0 0;
	display: grid;
	background: #fff;
	justify-content: center;
	grid-template-columns: auto;
	gird-template-rows: auto;
}

// #image_S3 {
// 	margin: 0 15em 0 15em;
// }

.S4 {
	grid-area: S4;
	margin: 0 0 0 0;
	padding: 2em 0 2em 0;
	display: grid;
	background: #795548;
	justify-content: center;
	grid-template-columns: auto;
	gird-template-rows: auto;
	grid-template-areas: 
		"h1_S4 p_S4"
}

#h1_S4 {
	grid-area: h1_S4;
	margin: 0 0 0 8em;
}

#p_S4 {
	grid-area: p_S4;
	margin: 0 20em 0 2em;
}

.S4a {
	grid-area: S4a;
	display: grid;
	place-items: center center;
	background: bottom / contain no-repeat url('../images/S4a_background.png');
	margin: 0 20em 0 20em;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(auto, 5);
	grid-template-areas:
		"h1_S4a h1_S4a"
		"S4a_feature1 S4a_feature5"
		"S4a_feature2 S4a_feature6"
		"S4a_feature3 S4a_feature7"
		"S4a_feature4 S4a_feature8"
}

#h1_S4a {
	grid-area: h1_S4a;
	justify-self: center;
	margin: 2em 0 2em 0;
}

#S4a_feature1 {
	grid-area: S4a_feature1;
	padding: 2em 1em 2em 2em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature2 {
	grid-area: S4a_feature2;
	padding: 2em 1em 2em 2em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature3 {
	grid-area: S4a_feature3;
	padding: 2em 1em 2em 2em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature4 {
	grid-area: S4a_feature4;
	padding: 2em 1em 2em 2em;
	background: #111;
	border-radius: 5px;
}

#S4a_feature5 {
	grid-area: S4a_feature5;
	padding: 2em 2em 2em 1em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature6 {
	grid-area: S4a_feature6;
	padding: 2em 2em 2em 1em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature7 {
	grid-area: S4a_feature7;
	padding: 2em 2em 2em 1em;
	background: #111;
	margin-bottom: 1em;
	border-radius: 5px;
}

#S4a_feature8 {
	grid-area: S4a_feature8;
	padding: 2em 2em 2em 1em;
	background: #111;
	border-radius: 5px;
}

.S4a_features {
	font-family: @text-font;
	margin-bottom: 10em;
}

.S5 {
	display: grid;
	place-items: center center;
	grid-area: S5;
	margin: 0 0 0 0;
	background: @black;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"image_S5 h1_S5"
		"image_S5 text_S5"
}

#a_S5 {
	display: grid;
	font-family: @header-font;
	color: @txtcolor;
	float: right;
	margin: 2em 0 2em 0;
}

#h1_S5 {
	grid-area: h1_S5;
	text-align: center;
	margin: 2em 0 2em 0;
}

#text_S5 {
	align-self: end;
	grid-area: text_S5;
	margin: 0 20em 0 2em;
}

#image_S5 {
	grid-area: image_S5;
	margin: 0 2em 0 20em;
}


.S6 {
	display: grid;
	color: @black;
	background: #fff;
	grid-area: S6;
	margin: 0;
	padding-bottom: 3em;
	place-items: center center;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"h1_S6 h1_S6 h1_S6"
		"div1_S6 div2_S6 div3_S6"
}



#h1_S6{
	margin: 2em 0 2em 0;
	display: grid;
	grid-area: h1_S6;
}

#div1_S6 {
	display: grid;
	margin-left: 20em;
	place-items: center center;
	grid-area: div1_S6;
}

#div2_S6 {
	display: grid;
	place-items: center center;
	grid-area: div2_S6;
}

#div3_S6 {
	display: grid;
	margin-right: 20em;
	place-items: center center;
	grid-area: div3_S6;
}

.cena_S6 {
	background: @black;
	font-family: @text-font;
	padding: 1em 3em;
	text-align: center;
	color: @txtcolor;
}

.btn_S6 {
	background: @highlight;
	font-family: @text-font;
	margin-top: 1em;
	padding: 1em 4em;
	text-align: center;
	text-transform: uppercase;
	color: @txtcolor;
}

.btn_S6:hover {
	opacity: .8;
}

.opis_S6 {
	padding: 2em 0 2em 0;
	border-top: solid 1px @black;
	border-bottom: solid 1px @black;
}

.image_S6 {
	margin: 0;
	display: block;
}

//FOOTER DESKTOP

footer {
	font-family: @text-font;
	color: @txtcolor;

}

#footer_container {
	padding: 3em 20em 0 20em;
	display: grid;
	place-items: center center;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	background: @black;
	grid-template-areas: 
	"footer_icons footer_text footer_krakvet"
	"footer_icons footer_text footer_krakvet"
	"footer_podpis footer_podpis footer_podpis";
}

#footer_podpis {
	grid-area: footer_podpis;
	text-align: center;
	margin: 2em 0 2em 0;
}

#footer_podpis a:hover{
	opacity: .6;
}

#footer_krakvet a:hover{
	opacity: .6;
}

#footer_icons {
	grid-area: footer_icons;
}

#footer_text {
	grid-area: footer_text;
	margin: 0 5em 0 5em;
}

#footer_krakvet {
	display: grid;
	place-items: center center;
	grid-area: footer_krakvet;
}
